<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      IonReddit
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  This is home(reddit)
     <ion-list>  <!-- want list-->
       <ion-item *ngFor="let item of items">   <!-- *ngFor: for loop-->
          <ion-thumbnail *ngIf="item.data.thumbnail" item-left>
             <img src="{{item.data.thumbnail}}">
          </ion-thumbnail>
          <h2>{{item.data.title}}</h2>
          <p>
            <ion-icon name="thumbs-up">{{item.data.score}}</ion-icon>
            &nbsp; <!--make a space-->
            &nbsp;
            <ion-icon name="chatboxes">{{item.data.num_comments}}</ion-icon>
          </p>
          <button ion-button clear item-right (click)="viewItem(item.data)">View</button>  <!--click event to activate each of a button-->
       </ion-item>
     </ion-list>
</ion-content>
